<element>
<web-app>
<servlet>
<servlet-name>lp</servlet-name>
<servlet-class>loginPage</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>lp</servlet-name>
<url-pattern>/loginPage</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>mp</servlet-name>
<servlet-class>mainPage</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>mp</servlet-name>
<url-pattern>/mainPage</url-pattern>
</servlet-mapping>
</web-app>
</element>